{% extends "base.html" %}

{% block content %}

<section class="ftco-section ftco-no-pt ftco-no-pb">
			
	    	<div class="container">
			
			
			
	    		<div class="row d-flex">
	    			<div class="col-xl-12 px-md-5">
					
	    				<div class="row">
			    			<div class="col-md-12">
									<div class="blog-entry ftco-animate d-md-flex">
										{% comment %} <a href="single.html" class="img img-2" style="background-image: url({{ about_image }});"></a> {% endcomment %}
										<div class="text text-2 pl-md-5">
				              
				              <div class="meta-wrap">
												<p class="meta">
				              	<h3 class="mb-4">{{ header_text }}</h3>
                        
                      <p class="mb-4">Phones are all but vital to our modern existence, so choosing a good one is important. As they become thinner, more feature-packed, and inevitably more expensive, you’ll find the final word on the latest smartphones, both budget and flagship, Android and iOS, right here.</p>
                      
				              	</p>
			              	</div>
				              <p class="mb-4">
                      
                      <ul class="list-group"> 
                   <li class="list-group-item list-group-item-list-group-item-light"><span>Our Web Dev Team Members:  <b><i class="ion-md-people"  style="color:#2d9ded"></i>  {{ team }}</b> </span></li>
                   <li class="list-group-item list-group-item-list-group-item-light">We help you pick the right Phone for you and your family.</li>
                  <li class="list-group-item list-group-item-list-group-item-light">We provide the Editor Picks section, Phones we think are best for everyone.</li>
                  <li class="list-group-item list-group-item-list-group-item-light">We list the Most Popular phones based on our members rating.</li>
                  <li class="list-group-item list-group-item-list-group-item-light">We provide Phone Specs, photos and provide real Reviews.</li>
                  <li class="list-group-item list-group-item-list-group-item-light">We list phones from Google Pixel, Apple iPhone, Samsung Galaxy S, and more.</li>
                  <li class="list-group-item list-group-item-list-group-item-light">You can contact us - The Fone Review Team from the contact page.</li>
                 
                </ul>
                
                      </p>
				             
							 
               
                        <img src="{{about_image}}" class="img-fluid">
                    
               
				            </div>
						
									</div>
									
								
								</div>
								 
			    		</div><!-- END-->
			    		
			    	</div>
	    			 
	          </div><!-- END COL -->
			 
			 
			  </div>
				
	    	</div>
	    </section>

{% endblock content %}
		           
               
                
               
	            