{% extends "base.html" %}

{% block content %}

<section class="ftco-section ftco-no-pt ftco-no-pb">
			
	    	<div class="container">
			{% for phone in featured_phones %}
			
			
	    		<div class="row d-flex">
	    			<div class="col-xl-12 px-md-5">
					
	    				<div class="row">
			    			<div class="col-md-12">
									<div class="blog-entry ftco-animate d-md-flex">
										<a href="single.html" class="img img-2" style="background-image: url({{ phone.image }});"></a>
										<div class="text text-2 pl-md-4">
				              <h3 class="mb-2"><a href="single.html">{{ phone.type }}</a></h3>
				              <div class="meta-wrap">
												<p class="meta">
				              		
				              		<span><a href="single.html"><i class="icon ion-md-star" style="color:#ebc634"></i> Rating: {{ phone.rating }}</a></span>
				              		<span><i class="icon ion-md-chatbubbles"  style="color:#2d9ded"></i> User Reviews: {{ phone.number_of_reviews }}</span>
									
				              	</p>
			              	</div>
				              <p class="mb-4">{{ phone.description }}</p>
				             <span><a href="#" class="btn-light"> Specs &amp; Reviews <span class="icon ion-md-send" style="color:#2d9ded"></span> </a></span>
							 
				            </div>
						
									</div>
									
								
								</div>
								 
			    		</div><!-- END-->
			    		
			    	</div>
	    			 
	          </div><!-- END COL -->
			 
			  {% endfor %}
			  </div>
				
	    	</div>
	    </section>

{% endblock content %}